.App {
  text-align: center;
}

.App--dark-mode {
  background-color: #282c34;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-evenly;
}

.disabled {
  pointer-events: none;
  border: 0.7rem solid green;
}

footer{
  padding: 2rem;
  font-size: 26px;
}

header {
  padding: 2rem;
  font-family: "Alfa Slab One", cursive;
}

img {
  width: 12rem;
  height: 14rem;
  object-fit: cover;
  margin: 1rem;
}

img:hover {
  zoom: 105%;
  border: 0.7rem solid blue;
}

.switch{
  display: block;
  margin: 1rem;
  font-size: 20px;
}

/*for phones*/
@media only screen and (max-width: 800px) {
  img {
    width: 8rem;
    height: 10rem;
    object-fit: cover;
    margin: 1rem;
  }
  img:hover {
    zoom: 102%;
    border: 0.4rem solid blue;
  }
}
/*for tablets*/
@media only screen and (min-width: 641) and (max-width: 1000px){
  img {
    width: 10rem;
    height: 12rem;
    object-fit: cover;
    margin: 1rem;
  }
}